.button {
  width: 7.375rem;
  height: 2.813rem;
  background-color: rgb(31, 126, 118) !important;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  &:hover {
    background-color: rgb(75, 182, 173) !important;
    cursor: pointer;
  }
}
